div.image-container {
    background-image: url(./images/bg.jpg);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.page {
    display: flex;
    height: 100vh;
    width: 100vw;
}

div.form-container {
    flex: 2;
    background-color: rgb(198, 255, 198);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.logo {
    background-color: black;
    opacity: 0.4;
    color: white;
    height: 15vh;
    min-height: 50px;
    margin-top: 30vh;
}

div.image-container footer {
    width: auto;
    text-align: center;
}

fieldset {
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.2);
    border: none;
}

.text-container {
    flex: 1;
    align-content: end;
}

form {
    flex: 2;
    display: flex;
    flex-direction: column;
}

button[type="submit"] {
    width: 10em;
    margin: 15px 10px;
}

form footer {
    margin-top: auto;
}